<!DOCTYPE html>
<html>

<head>
    <title>Time-Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mekhi">
    <meta name="keywords" content="Vue.js App, Time-Manager, To-do">
    <meta name="description" content="This is a time manegment app utilizing Vue.js">
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="body">
    <header>
        <div id="header-content">
            <h1 id="header-title">Time-Manager</h1>
        </div>
    </header>
    <div class="container">
        <main class="col-lg-10">
            <form>
                <div class="form-group">
                    <label class="form-head" for="to-do">To-Do: <p class="input">{{message}}</p></label>
                    <div class="form">
                        <input v-model="message" type="text" class="form-control" ref="input" id="to-do" name="to-do"
                            minlength="5" maxlength="80">
                        <button v-on:click="reference()" v-on:click.prevent="" id="to-do-submit" type="submit"
                            class="btn btn-light">Submit</button>
                    </div>
                </div>
            </form>
            <div id="main-content">
                <ul id="to-dos">
                    <li v-for="(todo, index) in todos" :key="todo">
                        <input v-on:click="checked = !checked, todoComplete(todo)" type="checkbox" id="checkbox"
                            name="checkbox">
                        {{todo}}
                        <button class="btn btn-danger" v-on:click="closeToDo(todo)" id="close-todo">X</button>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    <script src="scripts/index.js"></script>
</body>

</html>